<div class="col-md-12">
  <h1>Carrier Managemnt</h1>
  <p>Add new carriers to the system or update existing carriers listed below.</p>
  <table class="carriers table">
    <thead>
      <tr>
        <th>Name</th>
        <th ng-if="isAdmin()">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="carrier in carriers">
        <td>
          <a ng-href="/admin/carriers/{{carrier.slug}}">{{carrier.name}}</a>
        </td>

        <td>
        <a class="btn btn-info btn-xs enabled" ng-if="isAdmin()">update</a>
        </td>
      </tr>
    </tbody>
  </table>

  <p ng-if="isAdmin()">
    <a class="btn btn-default" href="/admin/carriers/new">New carrier</a>
  </p>
</div>

