<div class="row">
  <div class="col-md-12">
    <h1>Billing info</h1>

    <form ng-submit="submit()">
      <div class="form-group">
        <label for="card_number">Card number</label>
        <input type="text" class="form-control" id="card_number" placeholder="Enter card number&hellip;" ng-model="card_number" auto-focus>
      </div>

      <div class="form-group">
        <label for="month">Expiration month</label>
        <input type="text" class="form-control" id="month" placeholder="Enter month&hellip;" ng-model="month">
      </div>

      <div class="form-group">
        <label for="year">Expiration year</label>
        <input type="text" class="form-control" id="year" placeholder="Enter year&hellip;" ng-model="year">
      </div>

      <div class="form-group">
        <label for="cvc">CVC</label>
        <input type="password" class="form-control" id="cvc" placeholder="Enter CVC&hellip;" ng-model="cvc">
      </div>

      <input type="submit" class="btn btn-default" value="Save">
    </form>
  </div>
</div>

