<div class="col-md-12">
  <h1>Pick a plan</h1>

  <section id="pricing">
    <div id="pricing-table" class="row">
      <div class="col-sm-4">
        <ul class="plan">
          <li class="plan-name">Starter</li>
          <li class="plan-price"><sup>$</sup>1<small>per user per month</small></li>

          <li class="feature"><strong>Unlimited</strong> users</li>
          <li class="feature"><strong>Unlimited</strong> groups</li>
          <li class="feature">Invite unlimited account managers to access group data</li>
          <li class="feature">Imports from Excel and CSV</li>
          <li class="feature">Exports to Excel and CSV</li>
          <li class="feature">Secure, automatic carrier feeds</li>
          <li class="feature">Free conversion from Employee Navigator to GroupHub</li>
          <li class="feature">Highest-level HL7 compliance</li>
          <li class="feature">Highest-level SSL ecurity encryption</li>
          <li class="feature">Mobile web apps</li>
          <li class="feature">Enrollment</li>

          <li class="plan-action">
            <a href="#" class="btn btn-primary btn-lg" ng-click="pickPlan('basic')" ng-disabled="planIsLocked">Sign Up</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="plan featured">
          <li class="plan-name">Standard</li>
          <li class="plan-price"><sup>$</sup>2<small>per user per month</small></li>

          <li class="feature"><strong>Unlimited</strong> users</li>
          <li class="feature"><strong>Unlimited</strong> groups</li>
          <li class="feature">Invite unlimited account managers to access group data</li>
          <li class="feature">Imports from Excel and CSV</li>
          <li class="feature">Exports to Excel and CSV</li>
          <li class="feature">Secure, automatic carrier feeds</li>
          <li class="feature">Free conversion from Employee Navigator to GroupHub</li>
          <li class="feature">Highest-level HL7 compliance</li>
          <li class="feature">Highest-level SSL ecurity encryption</li>
          <li class="feature">Mobile web apps</li>
          <li class="feature">Enrollment</li>
          <li class="feature special">ACA Reporting</li>

          <li class="plan-action">
            <a href="#" class="btn btn-primary btn-lg" ng-click="pickPlan('standard')" ng-disabled="planIsLocked">Sign Up</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="plan">
          <li class="plan-name">Premium</li>
          <li class="plan-price"><sup>$</sup>3<small>per user per month</small></li>

          <li class="feature"><strong>Unlimited</strong> users</li>
          <li class="feature"><strong>Unlimited</strong> groups</li>
          <li class="feature">Invite unlimited account managers to access group data</li>
          <li class="feature">Imports from Excel and CSV</li>
          <li class="feature">Exports to Excel and CSV</li>
          <li class="feature">Secure, automatic carrier feeds</li>
          <li class="feature">Free conversion from Employee Navigator to GroupHub</li>
          <li class="feature">Highest-level HL7 compliance</li>
          <li class="feature">Highest-level SSL ecurity encryption</li>
          <li class="feature">Mobile web apps</li>
          <li class="feature">Enrollment</li>
          <li class="feature special">ACA Reporting</li>
          <li class="feature special">Eligibility</li>

          <li class="plan-action">
            <a href="#" class="btn btn-primary btn-lg" ng-click="pickPlan('premiere')" ng-disabled="planIsLocked">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <form class="invite-form" ng-submit="addInviteCode()">
      <h2>Or enter an invitation code</h2>

      <div class="form-group">
        <label for="invitation">Invitation Code</label>
        <input type="text" class="form-control" id="invitation" name= "invitation" placeholder="Invitation Code" ng-model="invitation">
      </div>

      <input type="submit" class="btn btn-primary" value="Start" ng-disabled="inviteIsLocked">
    </form>
  </section>
</div>

