<div class="col-md-12">
  <h1>Pick a plan</h1>

  <section id="pricing">
    <div id="pricing-table" class="row">
      <div class="col-sm-4">
        <ul class="plan">
          <li class="plan-name">Basic</li>
          <li class="plan-price"><sup>$</sup>1000<small>year</small></li>
          <li><strong>Unlimited</strong> Groups</li>
          <li><strong>50</strong> enrollments included</li>
          <li><strong>Email</strong> support</li>
          <li><strong>Forum</strong> Support</li>

          <li class="plan-hook">
            <strong>$10</strong> per additional  enrollment
          </li>

          <li class="plan-action">
            <a href="#" class="btn btn-primary btn-lg" ng-click="pickPlan('basic')">Sign Up</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="plan featured">
          <li class="plan-name">Standard</li>
          <li class="plan-price"><sup>$</sup>2,500<small>year</small></li>
          <li><strong>Unlimited</strong> Groups</li>
          <li><strong>500</strong> enrollments included</li>
          <li><strong>Custom</strong> Website</li>
          <li><strong>Email</strong> support</li>
          <li><strong>Forum</strong> Support</li>

          <li class="plan-hook">
            <strong>$5</strong> per additional enrollment
          </li>

          <li class="plan-action">
            <a href="#" class="btn btn-primary btn-lg" ng-click="pickPlan('standard')">Sign Up</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="plan">
          <li class="plan-name">Premiere</li>
          <li class="plan-price"><sup>$</sup>5,000<small>year</small></li>
          <li><strong>Unlimited</strong> Groups</li>
          <li><strong>2,500</strong> enrollments included</li>
          <li><strong>Personailzed</strong> Website</li>
          <li><strong>Phone</strong> Supoort</li>
          <li><strong>Email</strong> support</li>
          <li><strong>Forum</strong> Support</li>

          <li class="plan-hook">
            <strong>$2</strong> per additional enrollment
          </li>

          <li class="plan-action">
            <a href="#" class="btn btn-primary btn-lg" ng-click="pickPlan('premiere')">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <form class="invite-form" ng-submit="addInviteCode()">
      <h2>Or enter an invitation code</h2>

      <div class="form-group">
        <label for="invitation">Invitation Code</label>
        <input type="text" class="form-control" id="invitation" name= "invitation" placeholder="Invitation Code" ng-model="invitation">
      </div>

      <input type="submit" class="btn btn-primary" value="Start">
    </form>
  </section>
</div>

