<div class="col-md-12">
  <h1>Pick a plan</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="plan">
        <h2>Basic <small>$1,000</small></h2>

        <ul>
          <li>100 enrollments</li>
          <li>$10 per additional enrollment</li>
          <li>Email support</li>
        </ul>
      </div>

      <a href="" class="btn btn-primary" ng-click="pickPlan('basic')">Start Basic</a>
    </div>

    <div class="col-md-4">
      <div class="plan">
        <h2>Standard <small>$2,500</small></h2>

        <ul>
          <li>500 enrollments</li>
          <li>$5 per additional enrollment</li>
          <li>Email support</li>
        </ul>
      </div>

      <a href="" class="btn btn-primary" ng-click="pickPlan('standard')">Start Standard</a>
    </div>

    <div class="col-md-4">
      <div class="plan">
        <h2>Premier <small>$5,000</small></h2>

        <ul>
          <li>2,500 enrollments</li>
          <li>$2 per additional enrollment</li>
          <li>Phone &amp; Email support</li>
        </ul>
      </div>

      <a href="" class="btn btn-primary" ng-click="pickPlan('premiere')">Start Premiere</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>&hellip;or, enter an invite code:</h3>

      <form ng-submit="addInviteCode()">
        <div class="form-group">
          <label for="invitation">Invite code</label>
          <input type="text" class="form-control" id="invitation" placeholder="Enter invite code&hellip;" ng-model="invitation">
        </div>

        <input type="submit" class="btn btn-primary" value="Start">
      </form>
    </div>
  </div>
</div>

