<div class="col-md-12">
  <form name="resetPasswordForm" ng-submit="submit(resetPasswordForm.$valid)" novalidate>
    <h1>Reset My Password</h1>

    <p>Enter a new password below.</p>

    <div class="form-group" show-errors='{showSuccess: true}'>
      <label class="control-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" ng-model="user.password" required placeholder="Password" />
      <p class="help-block" ng-if="resetPasswordForm.password.$error.required">The user's password is required</p>
    </div>

    <div class="form-group" show-errors='{showSuccess: true}'>
      <label class="control-label">Confirm Password</label>
      <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" compare-to="resetPasswordForm.password" ng-model="user.password_confirmation" required placeholder="Confirm Password" ng-change="passwordConfirmChanged()" />
      <p class="help-block" ng-if="resetPasswordForm.password_confirmation.$error.required">The user's password is required</p>
      <p class="help-block" ng-if="resetPasswordForm.password_confirmation.$error.password_match">The password and confirmation must match</p>
    </div>

    <input class="btn btn-primary" type="submit" ng-disabled="resetPasswordForm.$invalid" value="Reset Password"></input>
  </form>
</div>

