files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_bundle_package.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # initialize local gem cache if needed

      . /opt/elasticbeanstalk/hooks/common.sh

      set -xe

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR

      # make sure cache directory exists
      if [ -d $BUNDLE_CACHE ]; then
          echo "found 'bundle cache'."
      else
          echo "no 'bundle cache' found! Creating cache directory"
          mkdir -p $BUNDLE_CACHE
      fi

      # make link to local cache directory
      if [ -d $EB_APP_STAGING_DIR/vendor/cache ]; then
        rm -rf $EB_APP_STAGING_DIR/vendor/cache 
        ln -s $BUNDLE_CACHE $EB_APP_STAGING_DIR/vendor/cache 
      else 
        ln -s $BUNDLE_CACHE $EB_APP_STAGING_DIR/vendor/cache 
      fi

      # update / create bundle cache
      bundle package --all --no-prune
