commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      user="ec2-user"
      app_root="/var/app/current"

      echo 'Attempting to start workers...'

      cd $app_root
      su -c "RAILS_ENV=$RACK_ENV bin/delayed_job -n 4 --pid-dir=$app_root/tmp/pids restart" $user &

