files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_start_workers.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      HOME=/home/ec2-user
      #EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_CURRENT_DIR=/var/app/current
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      EB_USER=ec2-user

      . $EB_SUPPORT_DIR/envvars 

      set -x # activate debugging from here
      cd $EB_APP_CURRENT_DIR
      export BUNDLE=/opt/rubies/ruby-2.2.3/bin/bundle

      # deploy latest code
      su -c "WORKER_NAME=congo-$BOX_ENV-worker-1 leader_only $BUNDLE exec rake workers:deploy" $EB_USER ||
      echo "Rake task failed to run, skipping worker deployment."

      # restart worker process
      su -c "WORKER_NAME=congo-$BOX_ENV-worker-1 leader_only $BUNDLE exec rake workers:start" $EB_USER ||
      echo "Rake task failed to run, skipping worker restart."
      set +x # deactivate debugging here
      true
