files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/14_start_workers.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd $EB_CONFIG_APP_ONDECK
      su -c "leader_only WORKER_NAME=congo-$BOX_ENV-worker-1 bundle exec rake workers:start" $EB_CONFIG_APP_USER ||
      echo "Rake task failed to run, skipping seeding."
      true
