<div class="col-md-12">
  <h1>New Carrier</h1>

  <p>Add new carrier connection details below.</p>

  <form ng-submit="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" placeholder="Enter a Name&hellip;" ng-model="form.name" auto-focus>
    </div>

    <div class="form-group">
      <label for="npi">NPI</label>
      <input class="form-control" id="npi" placeholder="Enter an NPI&hellip;" ng-model="form.npi">
    </div>

    <div class="form-group">
      <label for="trading_partner_id">Trading Partner ID</label>
      <input class="form-control" id="trading_partner_id" placeholder="Enter a Trading Partner ID&hellip;" ng-model="form.trading_partner_id">
    </div>

    <div class="form-group">
      <label for="service_types">Service Types (Comma-Separated, <code>underscored_text</code>)</label>
      <input class="form-control" id="service_types" placeholder="Enter the Service Types&hellip;" ng-model="form.service_types" ng-list=", ">
    </div>

    <div class="form-group">
      <label for="tax_id">Tax ID</label>
      <input class="form-control" id="tax_id" placeholder="Enter a Tax ID&hellip;" ng-model="form.tax_id">
    </div>

    <div class="form-group">
      <label for="first_name">First Name</label>
      <input class="form-control" id="first_name" placeholder="Enter a First Name&hellip;" ng-model="form.first_name">
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input class="form-control" id="last_name" placeholder="Enter a Last Name&hellip;" ng-model="form.last_name">
    </div>

    <div class="form-group">
      <label for="address_1">Address</label>
      <input class="form-control" id="address_1" placeholder="Enter an Address&hellip;" ng-model="form.address_1">
    </div>

    <div class="form-group">
      <input class="form-control" id="address_2" ng-model="form.address_2">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input class="form-control" id="city" placeholder="Enter a City&hellip;" ng-model="form.city">
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <input class="form-control" id="state" placeholder="Enter a State&hellip;" ng-model="form.state">
    </div>

    <div class="form-group">
      <label for="zip">Zip</label>
      <input class="form-control" id="zip" placeholder="Enter a Zip&hellip;" ng-model="form.zip">
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input class="form-control" id="phone" placeholder="Enter a Phone&hellip;" ng-model="form.phone">
    </div>

    <input type="submit" class="btn btn-default" value="New Carrier">
  </form>
</div>

