<div class="col-md-12">
  <h1>All Users</h1>

  <table class="users table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Accounts</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="user in users">
        <td>
          <a ng-href="mailto:{{user.email}}">{{user.email}}</a>
        </td>

        <td>
          <ul class="list-unstyled">
            <li ng-repeat="account in user.accounts">
              {{account.name}}
              <a href="" class="btn btn-default btn-xs disabled">{{account.role.english_name}}</a>
            </li>
          </ul>
        </td>

        <td>
          <a href="" class="btn btn-danger btn-xs" ng-click="crystalBall(user)">Crystal Ball</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

