<div class="col-md-12">
  <h1>Invitations</h1>

  <table class="invitations table">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Description</th>
        <th>Claimed By</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="invitation in invitations">
        <td>
          <code>{{invitation.uuid}}</code>
        </td>

        <td>
          {{invitation.description}}
        </td>

        <td>
          {{invitation.user.email}}
        </td>

        <td>
          <a ng-click="deleteInvitation(invitation.id)" class="btn btn-danger btn-xs" href="">Revoke</a>
        </td>
      </tr>
    </tbody>
  </table>

  <form ng-submit="newInvitation()">
    <h2>New Invitation</h2>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" placeholder="Enter description&hellip;" ng-model="description" auto-focus></textarea>
    </div>

    <input type="submit" class="btn btn-default" value="New invitation">
  </form>
</div>

