<div class="col-md-12">
  <h1>Carrier Accounts</h1>

  <div id="index-carrier-accounts-tabs" role="tabpanel">
    <!-- Tabs -->
    <ul class="nav nav-tabs" role "tablist">
      <li role="presentation" ng-class="{active: currentTab() === 'carrier-accounts'}">
        <a href="" data-target="#carrier-accounts" aria-controls="carrier-accounts" role="tab" data-toggle="tab" ng-click="changeTab('carrier-accounts')">Carrier Accounts</a>
      </li>

      <li role="presentation" ng-class="{active: currentTab() === 'benefit-plans'}">
        <a href="" data-target="#benefit-plans" aria-controls="benefit-plans" role="tab" data-toggle="tab" ng-click="changeTab('benefit-plans')">Benefit Plans</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" ng-class="{active: currentTab() === 'carrier-accounts'}" id="carrier-accounts">
        <h2>Carrier Accounts</h2>

        <p>Add and update carrier connections and account details.</p>

        <table class="account-carriers table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="carrierAccount in carrierAccounts">
              <td>
                <a ng-href="/admin/carrier_accounts/{{carrierAccount.id}}">{{carrierAccount.name}}</a>
              </td>

              <td>
                <a class="btn btn-danger btn-xs" href="" ng-click="deleteCarrierAccountAt($index)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>

        <p>
          <a class="btn btn-primary" href="/admin/carrier_accounts/new">Link up with a Carrier</a>
        </p>
      </div>

      <div role="tabpanel" class="tab-pane" ng-class="{active: currentTab() === 'benefit-plans'}" id="benefit-plans">
        <h2>Benefit Plans</h2>

        <p>Add and update benefits plans available from connected carriers.</p>

        <table class="benefit-plans table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="benefitPlan in benefitPlans">
              <td>
                <a href="/accounts/{{accountSlug()}}/{{currentRole()}}/benefit_plans/{{benefitPlan.id}}">{{benefitPlan.name}}</a>
                <a class="btn btn-info btn-xs disabled" href="" ng-if="benefitPlan.account_id">Owned</a>
              </td>

              <td>
                <a class="btn btn-info btn-xs" href="" ng-click="toggleBenefitPlanAt($index)" ng-if="!benefitPlan.account_id">{{benefitPlan.is_enabled ? 'Disable' : 'Enable'}}</a>
                <a class="btn btn-danger btn-xs" href="" ng-click="deleteBenefitPlanAt($index)" ng-if="!benefitPlan.account_id">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>

        <p>
          <a class="btn btn-primary" href="/accounts/{{accountSlug()}}/{{currentRole()}}/benefit_plans/new">New Benefit Plan</a>
        </p>
      </div>
    </div>
  </div>
</div>

