<div class="col-md-12">
  <h1>Benefit Plans</h1>
  <p>Add and update benefits plans available from connected carriers</p>
  <table class="benefit-plans table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="benefitPlan in benefitPlans">
        <td>
          <a href="/accounts/{{accountSlug()}}/{{currentRole()}}/benefit_plans/{{benefitPlan.id}}">{{benefitPlan.name}}</a>
        </td>

        <td>
          <a class="btn btn-info btn-xs enabled" ng-click="updateBenefitPlanAt($index)">Update</a>
          <a class="btn btn-danger btn-xs" href="" ng-click="deleteBenefitPlanAt($index)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <a class="btn btn-default" href="/accounts/{{accountSlug()}}/{{currentRole()}}/benefit_plans/new">New Benefit Plan</a>
  </p>
</div>

