<div class="col-md-12">
  <h1>New Benefit Plan</h1>

  <p>Add a new benefit plan from a connected carrier.</p>

  <form ng-submit="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name&hellip;" ng-model="form.name" auto-focus>
    </div>

    <div class="form-group">
      <label for="carrier">Carrier</label>
      <select class="form-control" id="carrier" name="carrier" ng-model="form.carrier_id">
        <option ng-repeat="carrier in carriers" value="{{carrier.id}}">{{carrier.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="plan_type">Plan Type</label>
      <input type="text" class="form-control" id="plan_type" placeholder="Enter a Plan Type&hellip;" ng-model="form.plan_type">
    </div>

    <div class="form-group">
      <label for="exchange_plan">Exchange Plan</label>
      <input type="text" class="form-control" id="exchange_plan" placeholder="Enter an Exchange Plan&hellip;" ng-model="form.exchange_plan">
    </div>

    <div class="form-group">
      <label for="small_group">Small Group</label>
      <input type="text" class="form-control" id="small_group" placeholder="Enter a Small Group&hellip;" ng-model="form.small_group">
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="description">Description</label>
        <textarea class="form-control markdown" id="description" placeholder="Enter a Description&hellip;" ng-model="form.description_markdown"></textarea>
        <small>
          Enter a description using Markdown. <a target="_blank" href="https://en.support.wordpress.com/markdown-quick-reference/">Click here</a> for a Markdown reference.
        </small>
      </div>

      <div class="form-group col-md-6">
        <label for="markdown">Preview</label>
        <div id="markdown" ng-bind-html="form.description_trusted"></div>
      </div>
    </div>

    <h2>Account-Specific Benefit Plan Info</h2>

    <div class="form-group">
      <label for="small_group">Group ID</label>
      <input type="text" class="form-control" id="group_id" placeholder="Enter a Group ID&hellip;" ng-model="accountBenefitPlanForm.group_id">
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="submit" class="btn btn-primary" value="New Benefit Plan">
      </div>
    </div>
  </form>
</div>

