<div class="col-md-12">
  <!-- Carrier may be null if it was deleted by the user. -->
  <h1 ng-if="!benefitPlan.carrier.name">
    {{benefitPlan.name}}
  </h1>

  <h1 ng-if="benefitPlan.carrier.name">
    {{benefitPlan.carrier.name}}: {{benefitPlan.name}}
  </h1>

  <p>Edit your benefit plan.</p>

  <form ng-submit="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input ng-disabled="!benefitPlan.account_id" type="text" class="form-control" id="name" placeholder="Enter name&hellip;" ng-model="form.name" auto-focus>
    </div>

    <div class="form-group">
      <label for="carrier">Carrier</label>
      <select ng-disabled="!benefitPlan.account_id" class="form-control" id="carrier" name="carrier" ng-model="form.carrier_id">
        <option ng-repeat="carrier in carriers" value="{{carrier.id}}">{{carrier.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="plan_type">Plan Type</label>
      <input ng-disabled="!benefitPlan.account_id" type="text" class="form-control" id="plan_type" placeholder="Enter a Plan Type&hellip;" ng-model="form.plan_type">
    </div>

    <div class="form-group">
      <label for="exchange_plan">Exchange Plan</label>
      <input ng-disabled="!benefitPlan.account_id" type="text" class="form-control" id="exchange_plan" placeholder="Enter an Exchange Plan&hellip;" ng-model="form.exchange_plan">
    </div>

    <div class="form-group">
      <label for="small_group">Small Group</label>
      <input ng-disabled="!benefitPlan.account_id" type="text" class="form-control" id="small_group" placeholder="Enter a Small Group&hellip;" ng-model="form.small_group">
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="description">Description</label>
        <textarea ng-disabled="!benefitPlan.account_id" class="form-control markdown" id="description" placeholder="Enter a Description&hellip;" ng-model="form.description_markdown"></textarea>
        <small>
          Enter a description using Markdown. <a target="_blank" href="https://en.support.wordpress.com/markdown-quick-reference/">Click here</a> for a Markdown reference.
        </small>
      </div>

      <div class="form-group col-md-6">
        <label for="markdown">Preview</label>
        <div id="markdown" ng-bind-html="form.description_trusted"></div>
      </div>
    </div>

    <h2>Account-Specific Benefit Plan Info</h2>

    <div class="form-group">
      <label for="small_group">Group ID</label>
      <input type="text" class="form-control" id="group_id" placeholder="Enter a Group ID&hellip;" ng-model="accountBenefitPlanForm.group_id">
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="submit" class="btn btn-primary" value="Update Benefit Plan">
      </div>
    </div>
  </form>

  <hr ng-if="carrier.account_id">

  <div class="attachments" ng-if="carrier.account_id">
    <h2>Attachments</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="attachment in benefitPlan.attachments">
          <td>{{attachment.title}}</td>

          <td>{{attachment.description}}</td>

          <td>
            <a class="btn btn-default btn-xs" target="_blank" ng-href="{{attachment.url}}">Preview</a>
            <a href="" class="btn btn-danger btn-xs" ng-click="deleteAttachmentAt($index)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>

    <form id="new-attachment" class="new-attachment" ng-submit="newAttachment()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="title" class="form-control" id="title" placeholder="Enter a Title&hellip;" ng-model="attachmentFormData.title">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="description" class="form-control" id="description" placeholder="Enter a Description&hellip;" ng-model="attachmentFormData.description">
      </div>

      <div class="form-group">
        <label for="file">File</label>
        <input type="file" class="form-control" id="file" onchange="angular.element(this).scope().fileChanged(this)">
      </div>

      <input type="submit" class="btn btn-primary" value="Add Attachment">
    </form>
  </div>
</div>

