<div class="col-md-12 centered">
  <h1>{{group.name}} Details</h1>
  <h2>Enter some basic information about your company and connect to benefits right away.</h2>

  <ul class="nav nav-tabs padding-top-25">
    <li class="active"><a href="#">Details</a></li>
    <li><a href="#">Members</a></li>
    <li><a href="#">Benefits</a></li>
  </ul>


  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <br />
    <br />

    <form ng-submit="submit()" class="group-form">
      <table>
        <tr>
          <td class="td-label">
            <label for="number_of_members">Number of Members</label>
          </td>
          <td>
            <select name="member_number" ng-options="member_number.id as member_number.desc for member_number in number_of_members" ng-model="number_of_members_selected">
              <option value="">Please select a number</option>
            </select>
          </td>
        </tr>

        <tr>
          <td class="td-label">
            <label for="industry">Industry</label>
          </td>
          <td>
            <select name="industry" ng-options="industry.id as industry.desc for industry in industries" ng-model="industry_selected">
              <option value="">Please select an industry</option>
            </select>
          </td>
          <td>
          </td>
        </tr>

        <tr>
          <td class="td-label">
            <label for="website">Website</label>
          </td>
          <td>
            <input type="text" class="form-control" id="website" placeholder="Enter a website&hellip;" ng-model="form.website">
          </td>
        </tr>

        <tr>
          <td class="td-label">
            <label for="tax_id">Phone Number</label>
          </td>
          <td>
            <input type="text" class="form-control" id="phone_number" placeholder="Enter a phone number&hellip;" ng-model="form.phone_number">
          </td>
        </tr>

        <tr>
          <td class="td-label">
            <label for="tax_id">ZIP Code</label>
          </td>
          <td>
            <input type="text" class="form-control" id="zip_code" placeholder="Enter a zip code&hellip;" ng-model="form.zip_code">
          </td>
        </tr>

        <tr>
          <td class="td-label">
            <label for="tax_id">Tax ID</label>
          </td>
          <td>
            <input type="text" class="form-control" id="tax_id" placeholder="Enter a Tax ID&hellip;" ng-model="form.tax_id">
          </td>
        </tr>

        <tr>
          <td>
          </td>

          <td class="td-buttons-right padding-top-25">
            <input type="submit" class="btn btn-primary" value="Save & Continue" ng-disabled="isLocked">
            <input type="submit" class="btn btn-primary" value="Skip" ng-disabled="isLocked">
          </td>
        </tr>
      </table>
    </form>
    <br />
    <br />
  </div>

  <div class="col-md-3">
  </div>
</div>
