<div class="row">
  <div class="col-md-12">
    <h1>Groups</h1>

    <table class="groups table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="group in groups">
          <td>
            <a ng-href="/accounts/{{accountSlug()}}/groups/{{group.slug}}">{{group.name}}</a>
          </td>

          <td>
            <a class="btn btn-danger btn-xs" href="" ng-click="deleteGroupAt($index)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      <a class="btn btn-default" href="/accounts/{{accountSlug()}}/groups/new">New group</a>
    </p>
  </div>
</div>

