<div class="col-md-12">
  <h1>Groups</h1>

  <table class="groups table">
    <thead>
      <tr>
        <th>Name</th>
        <th ng-if="currentRole() === 'broker' || currentRole() === 'group_admin'">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="group in groups">
        <td>
          <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups/{{group.slug}}">{{group.name}}</a>
        </td>

        <td ng-if="currentRole() === 'broker'">
          <a class="btn btn-info btn-xs" href="" ng-click="toggleGroupAt($index)">{{group.is_enabled ? 'Disable' : 'Enable'}}</a>
          <a class="btn btn-danger btn-xs" href="" ng-click="deleteGroupAt($index)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <p ng-if="currentRole() === 'broker' || currentRole() === 'group_admin'">
    <a class="btn btn-default" href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups/new">New group</a>
  </p>
</div>

