<div class="col-md-12">
  <h1>New group</h1>

  <form ng-submit="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name&hellip;" ng-model="form.name" auto-focus>
    </div>

    <!-- TODO: Is this correct? -->
    <div class="form-group">
      <label for="group_id">Group ID</label>
      <input type="text" class="form-control" id="group_id" placeholder="Enter a Group ID&hellip;" ng-model="form.group_id">
    </div>

    <div class="form-group">
      <label for="tax_id">Tax ID</label>
      <input type="text" class="form-control" id="tax_id" placeholder="Enter a Tax ID&hellip;" ng-model="form.tax_id">
    </div>

    <input type="submit" class="btn btn-default" value="New group">
  </form>
</div>

