<div class="col-md-12">
  <h1>New group</h1>

  <form ng-submit="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name&hellip;" ng-model="form.name" auto-focus>
    </div>

    <!-- TODO: Is this correct? -->
    <div class="form-group">
      <label for="group_id">Group ID</label>
      <input type="text" class="form-control" id="group_id" placeholder="Enter a Group ID&hellip;" ng-model="form.group_id">
    </div>

    <div class="form-group">
      <label for="tax_id">Tax ID</label>
      <input type="text" class="form-control" id="tax_id" placeholder="Enter a Tax ID&hellip;" ng-model="form.tax_id">
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="description">Description</label>
        <textarea class="form-control markdown" id="description" placeholder="Enter a Description&hellip;" ng-model="form.description_markdown"></textarea>
        <small>
          Enter a description using Markdown. <a href="https://en.support.wordpress.com/markdown-quick-reference/">Click here</a> for a Markdown reference.
        </small>
      </div>

      <div class="form-group col-md-6">
        <label for="markdown">Preview</label>
        <div id="markdown" ng-bind-html="form.description_trusted"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <input type="submit" class="btn btn-primary" value="New Group">
       </div>
    </div>
  </form>
</div>

