<div class="col-md-12">
  <div ng-if="isGroupAdmin()" class="benefit-plans">
    <h1>{{group.name}}</h1>

    <h2>Benefit Plans</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Benefit Plan name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="benefitPlan in benefitPlans" ng-if="benefitPlan.isEnabled">
          <td>{{benefitPlan.name}}</td>
          <td>
            <a href="" class="btn btn-danger btn-xs" ng-click="removeBenefitPlan(benefitPlan)">
              Remove
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="dropdown" ng-if="disabledBenefitPlans().length > 0">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Add a benefit plan
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="benefitPlan in disabledBenefitPlans()">
          <a role="menuitem" tabindex="-1" href="" ng-click="addBenefitPlan(benefitPlan)">
            {{benefitPlan.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div ng-if="currentRole() === 'customer'" class="benefit-plans">
    <h1>{{group.name}}</h1>

    <h2>Benefit Plans</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Benefit Plan name</th>
          <th>Current Application</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="benefitPlan in benefitPlans">
          <td>{{benefitPlan.name}}</td>

          <td>
            <ul class="simple-list" ng-repeat="application in applications(benefitPlan)">
              <li class="application">
                <span class="selected-date">
                  {{application.created_at | date : 'short'}}
                </span>

                <span class="state">
                  <a href="" class="btn btn-{{application.state_label}} btn-xs disabled">{{application.human_state}}</a>
                </span>

                <a class="btn btn-danger btn-xs" ng-click="revokeApplication(application)" ng-href="">Revoke</a>
              </li>
            </ul>
          </td>

          <td ng-if="applications(benefitPlan).length < 1">
            <a class="btn btn-warning btn-xs" ng-click="selectBenefitPlan(benefitPlan)" ng-href="">Select</a>
            <a class="btn btn-danger btn-xs" ng-click="declineBenefitPlan(benefitPlan)" ng-href="">Decline</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <div ng-if="isGroupAdmin()" class="members">
    <h2>Members</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Applications</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="membership in customerMemberships()">
          <td>
            <a ng-href="/users/{{membership.user.id}}" ng-if="membership.user">
              {{membership.user.first_name}} {{membership.user.last_name}}
            </a>
          </td>

          <td>
            <a ng-href="mailto:{{membership.email}}">{{membership.email}}</a>
          </td>

          <td>
            <ul class="simple-list">
              <li class="application" ng-repeat="application in membership.applications">
                <span class="selected-date">
                  {{application.created_at | date}}
                </span>

                <a class="btn btn-danger btn-xs disabled" href="" ng-if="application.state == 'declined'">Declined</a>
                <a class="btn btn-warning btn-xs disabled" href="" ng-if="application.state == 'selected'" ng-click="">Remind</a>
                <a class="btn btn-info btn-xs" href="" ng-if="application.state == 'applied'" ng-click="reviewApplication(application)">Review</a>
                <a class="btn btn-primary btn-xs" href="" ng-if="application.state == 'approved'" ng-click="submitApplication(application)">Submit</a>
                <a class="btn btn-success btn-xs" href="" ng-if="application.state == 'submitted'" ng-click="showApplicationStatus(application)">Submitted</a>
              </li>
            </ul>
          </td>

          <td>
            <a class="btn btn-danger btn-xs" href="" ng-click="revokeMembership(membership)">Revoke Membership</a>
            <a class="btn btn-primary btn-xs" href="" ng-if="!membership.user" ng-click="sendConfirmation(membership)">Send Invitation</a>
          </td>
        </tr>
      </tbody>
    </table>

    <a class="btn btn-primary" href="" ng-if="!membership.user" ng-click="sendConfirmations()">Send Invitations to All Pending Members</a>
  </div>

  <hr>

  <form ng-if="isGroupAdmin()" ng-submit="inviteMember()">
    <div class="form-group">
      <label for="email">Invite a new member</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email&hellip;" ng-model="inviteMemberFormData.email" auto-focus>
    </div>

    <input type="submit" class="btn btn-default" value="Invite a Member">
  </form>

  <hr>

  <div ng-if="isGroupAdmin()" class="members">
    <h2>Group Admins</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="membership in groupAdminMemberships()">
          <td>
            <a ng-href="/users/{{membership.user.id}}" ng-if="membership.user">
              {{membership.user.first_name}} {{membership.user.last_name}}
            </a>
          </td>

          <td>
            <a ng-href="mailto:{{membership.email}}">{{membership.email}}</a>
          </td>

          <td>
            <a class="btn btn-danger btn-xs" href="" ng-if="currentRole() === 'broker'" ng-click="revokeMembership(membership)">Revoke membership</a>
          </td>
        </tr>
    </table>
  </div>


  <form ng-if="currentRole() === 'broker'" ng-submit="inviteGroupAdmin()">
    <div class="form-group">
      <label for="email">Invite a new group admin</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email&hellip;" ng-model="inviteGroupAdminFormData.email">
    </div>

    <input type="submit" class="btn btn-default" value="Invite a Group Member">
  </form>
</div>

