<div class="row">
  <div class="col-md-12">
    <div ng-if="hasRole('broker')" class="products">
      <h1>{{group.name}}</h1>

      <h2>Products</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Product name</th>
            <th>Enabled?</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td><input type="checkbox" value="{{product.id}}" ng-model="product.isEnabled" ng-change="changeProduct(product)"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="hasRole('customer')" class="products">
      <h1>{{group.name}}</h1>

      <h2>Products</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Product name</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>
              <a class="btn btn-info btn-xs" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups/{{groupSlug()}}/products/{{product.id}}/applications/new">Apply</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="hasRole('broker')" class="members">
      <h2>Members</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Emails</th>
            <th>Connected as</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="membership in memberships()">
            <td>{{membership.email}}</td>

            <td>
              <a ng-href="/users/{{membership.user.id}}" ng-if="membership.user">{{membership.user.email}}</a>
            </td>

            <td>
              <a class="btn btn-danger btn-xs" href="" ng-click="revokeMembership(membership)">Revoke membership</a>
              <a class="btn btn-primary btn-xs" href="" ng-if="!membership.user" ng-click="resendConfirmation(membership)">Re-send invitation</a>
            </td>
          </li>
        </tbody>
      </table>
    </div>

    <form ng-if="hasRole('broker')" ng-submit="inviteMember()">
      <div class="form-group">
        <label for="email">Invite a new member</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email&hellip;" ng-model="email" auto-focus>
      </div>

      <input type="submit" class="btn btn-default" value="Invite member">
    </form>
  </div>
</div>


