<div class="col-md-12">
  <div ng-if="isGroupAdmin()" class="benefit-plans">
    <h1>{{group.name}}</h1>

    <h2>Benefit plans</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Benefit plan name</th>
          <th>Enabled?</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="benefitPlan in benefitPlans">
          <td>{{benefitPlan.name}}</td>
          <td><input type="checkbox" value="{{benefitPlan.id}}" ng-model="benefitPlan.isEnabled" ng-change="changeBenefitPlan(benefitPlan)"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-if="currentRole() === 'customer'" class="benefit-plans">
    <h1>{{group.name}}</h1>

    <h2>Benefit plans</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Benefit plan name</th>
          <th>Actions</th>
          <th>Applications</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="benefitPlan in benefitPlans">
          <td>{{benefitPlan.name}}</td>

          <td>
            <a class="btn btn-info btn-xs" ng-click="selectBenefitPlan(benefitPlan)" ng-href="">Select</a>
          </td>

          <td>
            <table class="table">
              <thead>
                <th>Id</th>
                <th>State</th>
              </thead>

              <tbody>
                <tr ng-repeat="application in applications(benefitPlan)">
                  <td>{{application.id}}</td>
                  <td>
                    <a href="" class="btn btn-warning btn-xs disabled" ng-if="!application.applied_by_id">Not Applied</a>
                    <a href="" class="btn btn-info btn-xs disabled" ng-if="application.applied_by_id && !application.submitted_by_id">Applied</a>
                    <a href="" class="btn btn-success btn-xs disabled" ng-if="application.submitted_by_id">Submitted</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-if="isGroupAdmin()" class="members">
    <h2>Members</h2>

    <div class="memberships">
      <div class="membership" ng-repeat="membership in memberships()">
        <h3>{{membership.name}}</h3>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
          <th>Applications</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="membership in memberships()">
          <td>
            <a ng-href="/users/{{membership.user.id}}" ng-if="membership.user">
              {{membership.user.first_name}} {{membership.user.last_name}}
            </a>
          </td>

          <td>
            <a ng-href="mailto:{{membership.email}}" ng-if="membership.user">{{membership.email}}</a>
          </td>

          <td>
            <a class="btn btn-danger btn-xs" href="" ng-click="revokeMembership(membership)">Revoke membership</a>
            <a class="btn btn-primary btn-xs" href="" ng-if="!membership.user" ng-click="resendConfirmation(membership)">Re-send invitation</a>
          </td>

          <td>
            <table class="table" ng-if="membership.applications.length > 0">
              <thead>
                <tr>
                  <th>Selected On</th>
                  <th>State</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="application in membership.applications">
                  <td>{{application.created_at | date}}</td>

                  <td>
                    <a class="btn btn-warning btn-xs disabled" href="" ng-if="!application.applied_by_id">Not Applied</a>
                    <a class="btn btn-primary btn-xs disabled" href="" ng-if="application.applied_by_id && !application.submitted_by_id">Applied</a>
                    <a class="btn btn-success btn-xs disabled" href="" ng-if="application.submitted_by_id">Submitted</a>
                  </td>

                  <td>
                    <a class="btn btn-success btn-xs" href="" ng-if="application.applied_by_id && !application.submitted_by_id" ng-click="submitApplication(application)">Submit application</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <form ng-if="isGroupAdmin()" ng-submit="inviteMember()">
    <div class="form-group">
      <label for="email">Invite a new member</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email&hellip;" ng-model="formData.email" auto-focus>
    </div>

    <input type="submit" class="btn btn-default" value="Invite member">
  </form>
</div>

