@import 'mixins.css.scss';

//Form error message style
.form-group .help-block {
  display: none;
}

//Form error message style
.form-group.has-error .help-block {
  display: block;
}

// Make placeholders less intrusive on disabled fields.

[disabled=disabled]::-webkit-input-placeholder {
   opacity: 0.5;
}

[disabled=disabled]:-moz-placeholder { /* Firefox 18- */
   opacity: 0.5;
}

[disabled=disabled]::-moz-placeholder {  /* Firefox 19+ */
   opacity: 0.5;
}

[disabled=disabled]:-ms-input-placeholder {
   opacity: 0.5;
}

// Hide the form labels for a cleaner look, except for screen readers
#enrollment-form {
  .form-group > label {
    display: none;
  }

  h4.box-title {
    font-size: 16px;
  }
}

// Add a little extra padding to signin and signup forms.
.signin-form,
.signup-form {
  margin-bottom: 10px;
}

// Make sure textareas only resize vertically.
textarea {
  resize: vertical;
}

@media (min-width: 768px) {
  form[name=signinForm],
  form[name=userForm],
  form[name=billingForm],
  form[name=accountForm],
  form[name=memberForm],
  form[name=accountEditForm],
  .existing-account,
  {
    @include faux-modal();
  }
}

textarea.markdown {
  min-height: 200px;
  font-family: monospace;
}

#markdown {
  border: 1px solid #ccc;
  min-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

