html,
body,
#wrapper {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

// Spinner styles

#main {
  #spinner-container {
    display: none;
    text-align: center;
    margin-top: 100px;

    .spinner {
      width: 220px;
      height: 19px;
      background: image-url('spinner.gif');
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#main.loading {
  main {
    display: none;
  }

  #spinner-container {
    display: block
  }
}

.alerts {
  width: 100%;
  margin-bottom: 0;

  .alert {
    margin-bottom: 0;
    border-radius: 0;
  }
}

a.sidebar-toggle {
  border: 0;
  background: none;

  // TODO: Don't use `!important`
  padding-top: 17px !important;
  padding-bottom: 18px !important;

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin-top: 3px;
    border: 1px solid #82c2fd;
  }
}

header,
.sidebar-nav {
  .logo {
    $width: 145px;
    $height: 22px;

    display: inline-block;
    width: $width;
    height: $height;
    background: image-url('logo.png');
    background-size: $width $height;

    margin-bottom: -7px;
  }
}

header,
.sidebar-nav {
  .logo-link {
    padding-bottom: 8px;
  }
}

.sidebar-nav {
  .logo {
    position: relative;
    top: -6px;
  }

  .logo-link:hover {
    background: rgba(255, 255, 255, 0.1) !important;
  }
}

header {
  ul.nav {
    height: 50px;
  }
}

header {
  $background-color: #333333;
  $color: #82c2fd;

  background-color: $background-color;

  .navbar-nav {
    > li,
    > li.dropdown {
      > a {
        color: $color;
      }

      > a:hover,
      > a:focus {
        background: rgba(255, 255, 255, 0.1);
        color: $color;
      }

      > a,
      > a:blur,
      > a:unfocus {
        background: none !important;
      }
    }
  }

  .navbar-header {
    > a:hover,
    > a:focus {
      background: rgba(255, 255, 255, 0.1);
      color: $color;
    }
  }
}

.dropdown .dropdown-menu .heading {
  &:hover {
    background-color: initial;
    cursor: default;
  }

  font-weight: bold;
}

@media (max-width: 767px) {
  header .navbar-nav > li.dropdown > ul > li {
    $color: #82c2fd;
    $hover-color: #2064a6;

    > a:hover,
    > a:focus {
      background-color: $hover-color;
    }

    a {
      color: $color;
    }
  }
}

footer {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 150px;
  clear: both;
}

i.envelope {
  background: asset_url('envelope.png');
}

i.forms {
  background: asset_url('forms.png');
}

i.envelope,
i.forms {
  $size: 20px;

  text-indent: -9999px;
  display: inline-block;
  width: $size;
  height: $size;
  background-size: $size $size;
  font-style: normal;
}

.icon-label {
  color: white;
  font-size: 11px;
  font-weight: bold;
  background-color: #f56954;
  padding: 0 5px;
  border-radius: 9999px;
  position: absolute;
  top: 4px;
  right: 4px;
  line-height: 13px;
  box-shadow: 0 2px 1px #333333;
  text-shadow: 0 1px #000;
}

li.dropdown {
  overflow: visible;
}

li.dropdown a {
  position: relative;
}

.label.role {
  text-transform: capitalize;
  margin-left: 4px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

main {
  margin-top: 20px;
}

.splash {
  background: linear-gradient(180deg, #057ff4, #0460b9 60%, #02417d 100%);
  background-color: #003c82;
  margin-top: -21px;
  margin-bottom: 20px;

  .logo {
    text-align: center;

    img {
      max-height: 240px;
      max-width: 100%;
    }
  }
}

// SIDEBAR

#wrapper {
  position: relative;
  padding-left: 250px;

  #sidebar-wrapper {
    left: 250px;
  }

  #page-content-wrapper {
    .logo-link {
      display: none;
    }
  }
}

#wrapper.toggled {
  padding-left: 0;

  #sidebar-wrapper {
    left: 0;
  }

  #page-content-wrapper {
    .logo-link {
      display: block;
    }
  }
}

#sidebar-wrapper {
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  background: #333;
  width: 250px;
}


#page-content-wrapper {
  width: 100%;
  padding: 15px;
  padding: 0;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #333;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;

  i {
    margin-left: -20px;
    margin-right: 12px;
  }
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 52px;
  font-size: 18px;
  line-height: 60px;
  border-bottom: 1px solid #444;
  margin-bottom: 13px;

  a {
    height: 51px;
  }
}

nav {
  margin-right: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

main [ng-controller=HomeController] .col-md-12 {
  float: initial;
}

header {
  margin-bottom: 0 !important;
}

main {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-top: 0;
}

#wrapper {
  main {
    [ng-view],
    footer {
      margin-right: 250px;
    }
  }
}

#wrapper.toggled {
  main {
    [ng-view],
    footer {
      margin-right: 0;
    }
  }
}

h1 {
  line-height: 2em;
}

@media (max-width: 767px) {
  #wrapper {
    position: initial;
    padding-left: initial;

    main {
      [ng-view],
      footer {
        margin-right: 0;
      }
    }
  }

  #sidebar-wrapper {
    height: initial;
    position: initial;
    margin-left: initial;
    width: 100%;

    ul {
      position: initial;
    }
  }

  header.navbar {
    display: none;
  }

  .sidebar-nav {
    width: 100%;
  }

  .sidebar-nav .sidebar-brand {
    height: 51px;
  }
}

@media (max-width: 900px) {
  @media (min-width: 767px) {
    #wrapper {
      position: relative;
      padding-left: 75px;

      #sidebar-wrapper {
        width: 75px;

        .logo {
          $width: 18px;
          $height: 22px;

          display: inline-block;
          width: $width;
          height: $height;
          background: image-url('logo-small.png');
          background-size: $width $height;

          margin-bottom: -7px;
          
          position: relative;
          left: 7px;
        }

        .sidebar-nav {
          > li:not(.sidebar-brand) {
            a {
              padding-left: 9px;
            }

            .caption {
              display: none;
            }
          }
        }
      }

      #page-content-wrapper {
        .logo-link {
          display: block;
        }
      }

      main {
        [ng-view],
        footer {
          margin-right: 75px;
        }
      }

      .sidebar-nav {
        width: 75px;
      }
  }
    }
}

