body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  .navbar-header {
    .navbar-brand {
      .logo {
        $width: 145px;
        $height: 22px;

        display: inline-block;
        width: $width;
        height: $height;
        background: url('/assets/logo.png');
        background-size: $width $height;
      }
    }
  }
}

header {
  $background-color: #2472be;
  $hover-color: #2064a6;
  $color: #82c2fd;

  background-color: $background-color;

  .navbar-nav {
    > li,
    > li.dropdown {
      > a {
        color: $color;
        background-color: $background-color;
      }

      > a:hover,
      > a:focus {
        background-color: $hover-color;
        color: $color;
      }
    }
  }

  .navbar-header {
    > a:hover,
    > a:focus {
      background-color: $hover-color;
      color: $color;
    }
  }

  .icon-bar {
    border: 1px solid $color;
  }
}

.dropdown .dropdown-menu .heading {
  &:hover {
    background-color: initial;
    cursor: default;
  }

  font-weight: bold;
}

@media (max-width: 767px) {
  header .navbar-nav > li.dropdown > ul > li {
    $color: #82c2fd;
    $hover-color: #2064a6;

    > a:hover,
    > a:focus {
      background-color: $hover-color;
    }

    a {
      color: $color;
    }
  }
}

footer {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 40px;
  padding-bottom: 40px;
}

i.envelope {
  background: image_url('envelope.png');
}

i.forms {
  background: image_url('forms.png');
}

i.envelope,
i.forms {
  $size: 20px;

  text-indent: -9999px;
  display: inline-block;
  width: $size;
  height: $size;
  background-size: $size $size;
  font-style: normal;
}

.icon-label {
  color: white;
  font-size: 11px;
  font-weight: bold;
  background-color: #f56954;
  padding: 0 5px;
  border-radius: 9999px;
  position: absolute;
  top: 4px;
  right: 4px;
  line-height: 13px;
  box-shadow: 0 2px 1px #357ca5;
  text-shadow: 0 1px #000;
}

@media (max-width: 767px) {
  i.envelope,
  i.forms {
    text-indent: initial;
    width: initial;
    height: initial;
    background: initial;
    background-size: initial;
  }

  .icon-label {
    font-size: 12px;
    top: 12px;
    right: 12px;
  }

  .label {
    float: right;
    margin-top: 4px;
  }
}

li.dropdown {
  overflow: visible;
}

li.dropdown a {
  position: relative;
}

.label.role {
  text-transform: capitalize;
  margin-left: 4px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

