<div class="col-md-12">
  <h1>Carrier Accounts</h1>

  <p>Add and update carrier connections and account details.</p>

  <table class="account-carriers table">
    <thead>
      <tr>
        <th>Name</th>
        <th ng-if="currentRole() === 'broker'">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="carrierAccount in carrierAccounts">
        <td>
          <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/carrier_accounts/{{carrierAccount.id}}">{{carrierAccount.name}}</a>
        </td>

        <td ng-if="currentRole() === 'broker'">
          <a class="btn btn-danger btn-xs" href="" ng-click="deleteCarrierAccountAt($index)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <p ng-if="currentRole() === 'broker'">
    <a class="btn btn-default" href="/accounts/{{accountSlug()}}/{{currentRole()}}/carrier_accounts/new">Link to a new account</a>
  </p>
</div>

