<div class="col-md-12">
  <h1>{{carrierAccount.name}}: {{carrierAccount.carrier.name}}</h1>

  <p>Edit your carrier account connection.</p>

  <form ng-submit="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name&hellip;" ng-model="form.name" auto-focus disabled="disabled" ng-if="!carrierAccount.account_id">
      <input type="text" class="form-control" id="name" placeholder="Enter name&hellip;" ng-model="form.name" auto-focus ng-if="carrierAccount.account_id">
    </div>

    <div class="form-group">
      <label for="carrier_slug">Carrier</label>
      <select class="form-control" id="carrier_slug" name="carrier_slug" ng-model="form.carrier_slug" disabled="disabled" ng-if="!carrierAccount.account_id">
        <option ng-repeat="carrier in carriers" value="{{carrier.slug}}">{{carrier.name}}</option>
      </select>
      <select class="form-control" id="carrier_slug" name="carrier_slug" ng-model="form.carrier_slug" ng-if="carrierAccount.account_id">
        <option ng-repeat="carrier in carriers" value="{{carrier.slug}}">{{carrier.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="broker_number">Broker Number</label>
      <input type="text" class="form-control" id="broker_number" placeholder="Enter Broker Number&hellip;" ng-model="form.broker_number" disabled="disabled" ng-if="!carrierAccount.account_id">
      <input type="text" class="form-control" id="broker_number" placeholder="Enter Broker Number&hellip;" ng-model="form.broker_number" ng-if="carrierAccount.account_id">
    </div>

    <div class="form-group">
      <label for="brokerage_name">Brokerage Name</label>
      <input type="text" class="form-control" id="brokerage_name" placeholder="Enter Brokerage Name&hellip;" ng-model="form.brokerage_name" disabled="disabled" ng-if="!carrierAccount.account_id">
      <input type="text" class="form-control" id="brokerage_name" placeholder="Enter Brokerage Name&hellip;" ng-model="form.brokerage_name" ng-if="carrierAccount.account_id">
    </div>

    <div class="form-group">
      <label for="tax_id">Tax ID</label>
      <input type="text" class="form-control" id="tax_id" placeholder="Enter Tax ID&hellip;" ng-model="form.tax_id" disabled="disabled" ng-if="!carrierAccount.account_id">
      <input type="text" class="form-control" id="tax_id" placeholder="Enter Tax ID&hellip;" ng-model="form.tax_id" ng-if="carrierAccount.account_id">
    </div>

    <div class="form-group">
      <label for="name">Account Type</label>
      <select class="form-control" id="account_type" name="account_type" ng-model="form.account_type" disabled="disabled" ng-if="!carrierAccount.account_id">
        <option ng-repeat="account_type in accountTypes" value="{{account_type.slug}}">{{account_type.name}}</option>
      </select>
      <select class="form-control" id="account_type" name="account_type" ng-model="form.account_type" ng-if="carrierAccount.account_id">
        <option ng-repeat="account_type in accountTypes" value="{{account_type.slug}}">{{account_type.name}}</option>
      </select>
    </div>

    <input type="submit" class="btn btn-primary" ng-class="carrierAccount.account_id ? '' : 'disabled'" value="Update Link">
  </form>
</div>

