<div class="modal fade" id="description-modal" tabindex="-1" role="dialog" aria-labelledby="review-application-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="description-modal">Description</h4>
      </div>

      <div class="modal-body">
        <!-- TODO: Put attachments in here somewhere -->
        <div class="widget description-application" ng-bind-html="description_trusted"></div>
      </div>

      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

