<div class="modal fade" id="eligibility-modal" tabindex="-1" role="dialog" aria-labelledby="eligibility-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="eligibility-modal">Check Eligibility</h4>
      </div>

      <div class="modal-body">
        <eligibility-widget></eligibility-widget>
      </div>

      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Check Eligibility">
        <input type="button" class="btn btn-danger" value="Reset">
        <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal" aria-hidden="true">
      </div>
    </div>
  </div>
</div>

