<div class="centered modal fade" id="establish-carrier-connection-modal" tabindex="-1" role="dialog" aria-labelledby="establish-carrier-connection-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Establish Carriers Connections</h3>
      </div>

      <div class="modal-body">
        <p>Connect to carriers to validate enrollment and ensure compliance.</p>

        <form ng-submit="submitCarrierConnection()" class="group-form" name="carrierConnectionForm">
          <table>
            <tr>
              <td class="td-label">
                <label for="first_name">Username</label>
              </td>

              <td>
                <input id="username" type="text" class="form-control" name="username" placeholder="Enter username&hellip;" ng-model="carrierCredentials.username" ng-required="true" auto-focus />
              </td>
            </tr>

            <tr>
              <td class="td-label">
                <label for="last_name">Password</label>
              </td>

              <td>
                <input id="password" type="password" class="form-control" name="password" placeholder="Enter password&hellip;" ng-model="carrierCredentials.password" ng-required="true" />
              </td>
            </tr>

            <tr>
              <td class="col-md-4">
              </td>

              <td class="td-buttons-centered padding-top-25 col-md-4">
                <input type="submit" class="btn btn-primary" value="Connect & Save" ng-disabled="isLocked">
              </td>

              <td class="col-md-4">
              </td>
            </tr>

          </table>
        </form>
      </div>

    </div>
  </div>
</div>


