<div class="centered modal fade" id="establish-carrier-connection-modal" tabindex="-1" role="dialog" aria-labelledby="establish-carrier-connection-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Establish Carriers Connections</h3>
      </div>

      <div class="modal-body">
        <p>Connect to carriers to validate enrollment and ensure compliance.</p>

        <form id="new_carrier_connection_form" ng-submit="submitCarrierConnection()" class="group-form" name="carrierConnectionForm" enctype="multipart/form-data">
          <table>
            <tr>
              <td class="td-label col-md-6">
                <label for="new_carrier_connection_username">Username</label>
              </td>
              <td class="col-md-6">
                <input id="new_carrier_connection_username" type="text" class="form-control" name="username" placeholder="Enter username&hellip;" ng-model="carrierCredentials.username" auto-focus />
              </td>
            </tr>

            <tr>
              <td class="td-label col-md-6">
                <label for="new_carrier_connection_password">Password</label>
              </td>
              <td class="col-md-6">
                <input id="new_carrier_connection_password" type="password" class="form-control" name="password" placeholder="Enter password&hellip;" ng-model="carrierCredentials.password" />
              </td>
            </tr>
          </table>

          <div class="padding-top-10">
            <p>Or</p>
          </div>

          <div class="td-buttons-centered">
            <input type="button" class="btn btn-primary" value="Upload a Carrier Invoice" ng-click="uploadCarrierInvoice()">
            <input id="carrier-invoice" class="hidden" type="file" ng-file-model="carrierInvoice.file">
          </div>

          <div class="td-buttons-centered padding-top-25">
            <input type="submit" class="btn btn-primary" value="Connect & Save" ng-disabled="isLocked">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
