<div class="modal fade" id="group-benefit-plans-modal" tabindex="-1" role="dialog" aria-labelledby="group-benefit-plans-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="group-benefit-plans-modal">Link Benefit Plan to Group</h4>
      </div>

      <div class="modal-body">
        <div class="widget group-benefit-plans-modal">
          <h2>Link Benefit Plan to Group</h2>

          <form class="form">
            <div class="form-group">
              <label for="group_id">Group ID</label>
              <input type="text" class="form-control" id="group_id" placeholder="Enter a Group ID&hellip;" ng-model="form.group_id">
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <a href="" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
        <a href="" class="btn btn-primary" ng-click="submit()">Link Benefit Plan</a>
      </div>
    </div>
  </div>
</div>


