<div class="col-md-12">
  <h1>Applications</h1>

  <table class="applications table">
    <thead>
      <tr>
        <th>Group</th>
        <th>Benefit Plan</th>
        <th>Selected On</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="application in applications">
        <td>
          <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/applications/{{application.id}}">{{application.membership.group.name}}</a>
        </td>

        <td>
          {{application.benefit_plan.name}}
        </td>

        <td>
          {{application.created_at | date : 'short'}}
        </td>

        <td>
          <a href="" class="btn btn-{{application.state_label}} btn-xs disabled">{{application.human_state}}</a>
        </td>

        <td>
          <a href="" class="btn btn-danger btn-xs" ng-click="revokeApplication(application)">Revoke</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

