<div class="col-md-12">
  <h1>Applications</h1>

  <table class="applications table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Benefits Plan</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="application in applications">
      <div ng-if="application.membership.user_id == currentUserId()">
        <td >
          <a>{{application.membership.group.name}}</a>
        </td>
        <td >
          <a>{{application.benefit_plan.name}}</a>
        </td>
        <td >
           <a href="" class="btn btn-warning btn-xs disabled" ng-if="!application.applied_by_id">Not Applied</a>
            <a href="" class="btn btn-info btn-xs disabled" ng-if="application.applied_by_id && !application.submitted_by_id">Applied</a>
            <a href="" class="btn btn-success btn-xs disabled" ng-if="application.submitted_by_id">Submitted</a>
        </td>
      </div>
        
      </tr>
      <tr>
      <td>
          <a ng-href="{{benefitPlan}}">{{benefitPlan.name}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

