
<div class="col-md-12">
  
<div class="col-md-12">
	      		<h2>My Challenges Usage</h2>
				<iframe src="https://incentfit.com/api/v1/reports/mychallenges/a2tBUm5UOVVMY2VsOWdWWnFEZXphNm1RbGlvOVRwL3dFWW54R3VnejV5dDFVQnhPdzhUdkw0Q0ZaV0I4d3N2UTNEZmpONnZ5V0xZPQ" style="width:100%; height: 800px"></iframe>
		</div>		
		<div class="col-md-12">
	      		<h2>Connect Devices</h2>
				<iframe src="https://incentfit.com/api/v1/reports/managedevicesheaders/a2tBUm5UOVVMY2VsOWdWWnFEZXphNm1RbGlvOVRwL3dFWW54R3VnejV5dDFVQnhPdzhUdkw0Q0ZaV0I4d3N2UTNEZmpONnZ5V0xZPQ" style="width:100%; height: 800px"></iframe>
		</div>		
</div>



