<div ng-if="currentRole() === 'admin'" class="col-md-12">
  <h1>Admin Dashboard</h1>

  <p>Administrator Functions:</p>
  <p>- Manage Carriers</p>
</div>

<div ng-if="currentRole() === 'broker'" class="col-md-12">
  <h1>Broker Dashboard: {{accountName()}}</h1>

  <p>Broker Functions:</p>
  <p>- Manage Carrier Accounts</p>
  <p>- Manage Benefits Plans</p>
  <p>- Manage Groups</p>
</div>

<div ng-if="currentRole() === 'group_admin'" class="col-md-12">
  <h1>Group Admin Dashboard: {{accountName()}}</h1>

  <p>Broker Functions:</p>
  <p>- Manage Benefits Plans</p>
  <p>- Manage Groups</p>
</div>

<div ng-if="currentRole() === 'customer'" class="col-md-12">
  <h1>Welcome {{firstName()}}!</h1>

  <p>Member Functions:</p>
  <p>- Manage Group Benefits</p>
  <p>- Manage Benefits Applications</p>
</div>

