<div ng-if="currentRole() === 'admin'" class="col-md-12">
  <h1>Administrator Dashboard</h1>

  <h2>Administrator Functions</h2>

  <ul class="simple-list functions-list">
    <li>
      <a class="btn btn-default" ng-href="/admin/carriers">Manage Carriers and Benefit Plans</a>
    </li>

    <li>
      <a class="btn btn-default" ng-href="/admin/accounts">Show All Accounts, Groups, and Users</a>
    </li>

    <li>
      <a class="btn btn-default" ng-href="/admin/invitations">Manage Invitations</a>
    </li>

    <li>
      <a class="btn btn-default" ng-href="/admin/features">Manage Features</a>
    </li>
  </ul>
</div>

<div ng-if="currentRole() === 'broker'" class="col-md-12">
  <h1>Broker Dashboard: {{accountName()}}</h1>

  <div class="row">
    <div class="col-md-6">
      <h2>Broker Functions</h2>

      <ul class="simple-list functions-list">
        <li>
          <a class="btn btn-default" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/carriers">Manage Carriers and Benefit Plans</a>
        </li>

        <li>
          <a class="btn btn-default" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/settings">Manage Account Settings</a>
        </li>

        <li ng-if="featureEnabled('api_tokens')">
          <a class="btn btn-default" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/tokens">Manage API Tokens</a>
        </li>

        <li ng-if="featureEnabled('eligibility_modal')">
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#eligibility-modal">Check Eligibility</a>
        </li>

        <li>
          <a class="btn btn-success" href="/accounts/{{accountSlug()}}/{{currentRole()}}/contact">Get Help</a>
        </li>
      </ul>

      <hr>

      <h2>Groups</h2>

      <table class="groups table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="group in groups">
            <td>
              <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups/{{group.slug}}">{{group.name}}</a>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        <a class="btn btn-primary" href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups/new">New Group</a>
      </p>
    </div>

    <div class="col-md-6">
      <h2>Member Status</h2>

      <canvas id="bar" class="chart chart-bar" data="data" labels="labels" series="series"></canvas>
    </div>
  </div>
</div>

<div ng-if="currentRole() === 'group_admin'" class="col-md-12">
  <h1>Group Admin Dashboard: {{accountName()}}</h1>

  <h2>Group Admin Functions</h2>

  <ul class="simple-list functions-list">
    <li>
      <a class="btn btn-default" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/carriers">Manage Carriers and Benefit Plans</a>
    </li>

    <li>
      <a class="btn btn-default" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups">Manage Groups</a>
    </li>

    <li ng-if="featureEnabled('eligibility_modal')">
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#eligibility-modal">Check Eligibility</a>
    </li>

    <li>
      <a class="btn btn-success" href="mailto:info@grouphub.io">Get Help</a>
    </li>
  </ul>

  <hr>

  <h2>Groups</h2>

  <table class="groups table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="group in groups">
        <td>
          <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups/{{group.slug}}">{{group.name}}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <a class="btn btn-primary" href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups/new">New Group</a>
  </p>
</div>
<div ng-if="currentRole() === 'customer'"style="position: fixed;
    width: 100%;
    height: 100%;">
  <iframe id="healthhub" src="http://localhost:9292" style="display: block;
    width: 100%;
    height: 100%;
    position:relative;
    top:-75px;
    border: none;"></iframe>

<div ng-if="currentRole() === 'customer'" class="col-md-12">
 
  <ul class="simple-list functions-list">
    <li ng-if="groups.length === 1">
      <a class="btn btn-default" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups/{{groups[0].slug}}">Visit {{groups[0].name}}</a>
    </li>

    <li>
      <a class="btn btn-success" href="mailto:info@grouphub.io">Get Help</a>
    </li>
  </ul>

  <hr ng-if="groups.length > 1">

  <h2 ng-if="groups.length > 1">Groups</h2>

  <table ng-if="groups.length > 1" class="groups table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="group in groups">
        <td>
          <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups/{{group.slug}}">{{group.name}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
 </div>
