<!-- Block 1 -->
<div id="landing" class="jumbotron jumbotron-splash">
  <div class="container container-splash">
    <div class="row">
      <h1>The next generation of enrollment for insurance brokers</h1>
      <h2>Say goodbye to spreadsheets, paperwork, and fax machines.<br>Say hello to easy street.</h2>
    </div>

    <div class="row">
      <a href="/users/new_manager" class="btn btn-success btn-splash">Try it free for 30 days</a>
    </div>
  </div>
</div>

<!-- Block 2 -->
<div class="block-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Maximize Your Time</h2>
        <p>GroupHub customers spend less time on paperwork, freeing up 1 day per week to focus on what they do best: helping individuals and families find the best quality and most affordable health care insurance. What would you do with the extra time?</p>
      </div>

      <div class="col-sm-4">
        <h2>Grow Your Business</h2>
        <p>GroupHub is designed to support brokers. It provides easy to use tools to ensure compliance with federal and state regulations while providing real time status updates for enrollment.</p>
      </div>

      <div class="col-sm-4">
        <h2>Thrill Your Customers</h2>
        <p>With GroupHub, you can seemlessly provide benifits selection and enrollment for clients from your desk or on the go. In fact, GroupHub customers completely remove paperwork from their lives and become compliant with HIPAA regulations</p>
      </div>
    </div>

    <!-- Wating for final content to make final changes -->

    <div class="row well">
      <div class="col-sm-1"></div>
      <div class="col-sm-2">&ldquo;You just gave me back my Tuesday's&rdquo;<img src="http://fakeimg.pl/100x50/"></div>
      <div class="col-sm-2">&ldquo;Lorem ipsum dolor sit amet.&rdquo;<img src="http://fakeimg.pl/100x50/"></div>
      <div class="col-sm-2">&ldquo;Lorem ipsum dolor sit amet.&rdquo;<img src="http://fakeimg.pl/100x50/"></div>
      <div class="col-sm-4 col-xs-offset-1 well-last-element"><img src="http://fakeimg.pl/100x100/">&ldquo;Lorem ipsum dolor sit amet.&rdquo;</div>
    </div>

    <div class="footer-block-2"><a href="#">Learn more</a> about why you should use GroupHub
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer-landing">
  <!-- Jumbotron -->
  <div id="landing" class="jumbotron">
    <div class="container container-splash">
      <div class="row">
        <h1>Join the pilot!</h1>
        <h2>Setup only takes a minute.</h2>
      </div>

      <div class="row">
        <a href="/users/new_manager" class="btn btn-success btn-splash">Join the Pilot!</a>
      </div>
    </div>

    <hr>

    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1"><h3>Featured in</h3></div>
        <div class="col-sm-2"><img src="http://fakeimg.pl/100x75/"></div>
        <div class="col-sm-2"><img src="http://fakeimg.pl/100x75/"></div>
        <div class="col-sm-2"><img src="http://fakeimg.pl/100x75/"></div>
        <div class="col-sm-2"><img src="http://fakeimg.pl/100x75/"></div> 
      </div>
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container footer-links">
    <div class="row">
      <div class="col-sm-2">
        <h4>About</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">The GroupHub Story</a></li>
          <li><a href="#">We're Hiring</a></li>
          <li><a href="#">Press Center</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h4>Product</h4>
        <ul>
          <li><a href="#">Tour</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Mobile</a></li>
          <li><a href="#">Product News</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h4>Technology Partners</h4>
        <ul>
          <li><a href="#">Advisors</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Value Add-Ons</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h4>Helpful Links</h4>
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Staying Ahead of Regulations</a></li>
          <li><a href="#">Unified Application</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h4>Talk to Us</h4>
        <ul>
          <li><a href="#">info@grouphub.io</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h4>Get Tips</h4>
      </div>
    </div>
  </div>
</div>

