<div id="landing" class="jumbotron jumbotron-splash">
  <div class="container container-splash">
    <div class="row">
      <h1>The next generation of enrollment for insurance brokers</h1>
      <h2>Say goodbye to spreadsheets, paperwork, and fax machines.<br>Say hello to easy street.</h2>
    </div>

      <div class="row">
        <form class="form-inline form-splash">
          <div class="form-group">
            <label for="exampleInputName2"></label>
            <input type="text" class="form-control input-md" id="exampleInputName2" placeholder="Company Name">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail2"></label>
            <input type="email" class="form-control input-md" id="exampleInputEmail2" placeholder="Email Address">
          </div>
      </div>

        <div class="row">
          <button type="submit" class="btn btn-success btn-splash">Try it free for 30 days</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="block-2">
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <h2>Maximize Your Time</h2>
          <p>GroupHub customers spend less tim on paperwork, freeing up 1 day per week to focus on what they do best: helping individuals and families find the best quality and most affordable health care insurance. What would you do with the extra time?</p>
       </div>

       <div class="col-sm-4">
         <h2>Grow Your Business</h2>
          <p>GroupHub is designed to support brokers. It provides easy to use tools to ensure compliance with federal and state regulations while providing real time status updates for enrollment.</p>
        </div>

        <div class="col-sm-4">
          <h2>Thrill Your Customers</h2>
          <p>With GroupHub, you can seemlessly provide benifits selection and enrollment for clients from your desk or on the go. In fact, GoupHub customers completely remove paperwork from their lives and become compliant with HIPAA regulations</p>
        </div>
      </div>

      <div class="row well">
        <p>ddsdsds</p>
        </div>

    <div class="footer"><a href="#">Learn More</a> about why you should use GroupHub

    </div>

  </div>
</div>

