<div class="jumbotron jumbotron-splash">
  <div class="container container-splash">
		<div class="row">
			<h1>Welcome to the next generation enrollment platform for insurance brokers</h1>
			<h2>Say goodbye to spreadsheets, paperwork, and fax machines.<br>Say hello to easy street.</h2>
		</div>
		
			<div class="row">
				<form class="form-inline form-splash">
					<div class="form-group">
						<label for="exampleInputName2"></label>
						<input type="text" class="form-control input-md" id="exampleInputName2" placeholder="Company Name">
					</div>
					
					<div class="form-group">
						<label for="exampleInputEmail2"></label>
						<input type="email" class="form-control input-md" id="exampleInputEmail2" placeholder="Email Address">
					</div>
			</div>

				<div class="row">
					<button type="submit" class="btn btn-success btn-splash">Try free for 30 days</button>
				</div>
				
			</form>
		</div>
	</div>
</div>
