<div class="col-md-12">
  <h1>Privacy Policy</h1>

  <p>GroupHub does not rent, sell, or share personal information about you with other people or non-affiliated companies except to provide products or services you've requested, when we have your permission, or under the following circumstances:</p>

  <ol>
    <li>Service Providers. We may employ third party companies and individuals to facilitate our Services, to provide the Services on our behalf, to perform Site-related services (e.g., without limitation, maintenance services, database management, payment processors, web analytics and improvement of the Services' features) or to assist us in analyzing how the Services are used. These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</li>
    <li>Compliance with Laws and Law Enforcement. [Physician] cooperates with government and law enforcement officials and private parties to enforce and comply with the law. We may disclose the information we collect from you in order to comply with the law, a judicial proceeding, court order, subpoena or other legal process</li>
    <li>To Protect Us and Others. We also may disclose the information we collect from you where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety, rights or property of any person or party, or violations of our Terms of Use or this Privacy Policy.</li>
    <li>Business Transfers. We may sell, transfer or otherwise share some or all of its assets, including your Personal Information, in connection with a merger, acquisition, reorganization or sale of assets or in the event of bankruptcy. We will make best efforts to give you advance notice and the opportunity to opt-out of the business transfer based on contact information you have provided.</li>
  </ol>

  <h2>Changing Or Deleting Your Information</h2>

  <p>All Members may review, update, correct or delete information by making appropriate corrections on the Site. If you delete all such information, then your Account may become deactivated. You may also delete your Account in our system, in which case we will use commercially reasonable efforts to honor your request. However, we may retain a de-identified copy of your records in our systems.</p>

  <h2>Special Information For California Consumers</h2>

  <p>California residents may request a list of certain third parties to which we have disclosed personally identifiable information about you for direct marketing purposes. You may make one request per calendar year. In your request, please attest to the fact that you are a California resident and provide a current California address for your response. You may request this information in writing by contacting us at: info@grouphub.io. Please allow up to thirty days for a response.</p>

  <h2>International Transfer</h2>

  <p>Your information may be transferred to, and maintained on, computers located in the United States. If you are located outside the United States and choose to provide information to us, GroupHub transfers Personal Information to the United States and processes it there. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>

  <h2>Links To Other Websites</h2>

  <p>Our Site may contain links to other websites. If you choose to click on a third party link, you will be directed to that third party's website. The fact that we link to a website is not an endorsement, authorization or representation of our affiliation with that third party, nor is it an endorsement of their privacy or information security policies or practices. We do not exercise control over third party websites. These other websites may place their own cookies or other files on your computer, collect data or solicit personal information from you. Other websites follow different rules regarding the use or disclosure of the personal information you submit to them. We encourage you to read the privacy policies or statements of the other websites you visit.</p>

  <h2>Changes To This Policy</h2>

  <p>When we make material changes to this Privacy Statement, we will post the changes on this page and update the revision date at the top of the Privacy Statement.</p>

  <h2>Contacting Us</h2>

  <p><a href="mailto:info@grouphub.io">info@grouphub.io</a></p>
</div>

