<div class="alerts">
  <div class="alert alert-{{flash.type}}" data-kind="{{flash.type}}" ng-repeat="flash in flashes">
    <button class="close">×</button>
    <span class="message">{{flash.message}}</span>
  </div>
</div>

