<footer class="footer">
  <p>GroupHub, Made with Love in San Francisco, CA</p>

  <p>
    <img class="footer-logo text-center" ng-src="{{assets['logo.png']}}" alt="GroupHub">
  </p>

  <p>Copyright &copy; 2015 GroupHub, All Rights Reserved.</p>

  <p>
    <a href="#">Security Safeguards</a> |
    <a href="#">Terms of Service</a> |
    <a href="#">Privacy Policy</a>
  </p>
</footer>

