<footer class="footer">
  <div class="col-sm-12">
    <p>GroupHub, Made with Love in San Francisco, CA</p>
    
    <img ng-src="{{assets['logo.png']}}" alt="GroupHub"> 
    
    <p>Copyright &copy; 2015 GroupHub, All Rights Reserved.</p>
    
      <p>
        <a href="#">Security Safeguards</a> |
        <a href="#">Terms of Sevice</a> |
        <a href="#">Privacy Policy</a>
      </p>
  </div>
</footer>
