<footer class="footer">
  <p>GroupHub, Made with Love in San Francisco, CA</p>

  <p>
    <a href="http://grouphub.io">
      <img class="footer-logo text-center" ng-src="{{assets['logo.png']}}" alt="GroupHub">
    </a>
  </p>

  <p>Copyright &copy; 2015 GroupHub, All Rights Reserved.</p>

  <p>
    <a href="/security">Security Safeguards</a> |
    <a href="/terms">Terms of Service</a> |
    <a href="/privacy">Privacy Policy</a>
  </p>
</footer>

