<header class="navbar navbar-static-top">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54087593-4', 'auto');
  ga('send', 'pageview');

</script>
  <nav>
    <ul class="nav navbar-nav">
      <li>
        <a href="" ng-if="isSignedin()" ng-click="drawerToggle()" class="sidebar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </li>

      <li>
        <a class="logo-link" href="/">
          <div class="logo"></div>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="messages-menu" ng-if="isSignedin() && currentRole() && !inAdminPanel()">
        <a href="/accounts/{{accountSlug()}}/{{currentRole()}}/messages">
          <i class="envelope">Messages</i>
          <span class="icon-label">{{currentAccount().message_count}}</span>
        </a>
      </li>

      <li class="messages-menu" ng-if="isSignedin() && currentRole() && !inAdminPanel()">
        <a href="/accounts/{{accountSlug()}}/{{currentRole()}}/activities">
          <i class="forms">Activities</i>
          <span class="icon-label">{{currentAccount().activity_count}}</span>
        </a>
      </li>

      <li ng-if="firstName()" class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          {{firstName()}}
          <i class="caret"></i>
        </a>

        <ul class="dropdown-menu">
          <li ng-if="isBrokerIncomplete()">
            <a ng-href="/users/new_plan">
              Continue signing up&hellip;
            </a>
          </li>

          <li ng-if="accounts().length > 0">
            <a class="heading" href="">Accounts</a>
          </li>

          <li ng-repeat="account in accounts()">
            <a ng-href="/admin" ng-if="account.role.name == 'admin'">
              Admin
              <span class="label label-default role">Admin</span>
            </a>

            <a ng-href="/accounts/{{account.slug}}/{{account.role.name}}" ng-if="account.role.name != 'admin'">
              {{account.name}}
              <span class="label label-default role">{{account.role.english_name}}</span>
            </a>
          </li>

          <li class="divider" ng-if="accounts().length > 0"></li>

          <li>
            <a href="/users/{{currentUserId()}}">My Profile</a>
          </li>

          <li>
            <a href="" ng-click="signout()">
              Sign out
            </a>
          </li>
        </ul>
      </li>

      <li ng-if="!isSignedin()">
        <a href="/users/signin">Sign in</a>
      </li>

      <li ng-if="!isSignedin()">
        <a href="/users/new">Sign up</a>
      </li>
    </ul>
  </nav>
</header>

