<header class="navbar navbar-static-top">
  <nav>
    <ul class="nav navbar-nav">
      <li ng-if="isSignedin() && currentRole()">
        <a href="" ng-click="drawerToggle()" class="sidebar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </li>

      <li>
        <a class="logo-link" href="/">
          <div class="logo"></div>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="messages-menu" ng-if="isSignedin() && currentRole() && !inAdminPanel()">
        <a href="/accounts/{{accountSlug()}}/{{currentRole()}}/messages">
          <i class="fa fa-newspaper-o"></i>
          <span class="icon-label" ng-if="currentAccount().message_count > 0">{{currentAccount().message_count}}</span>
        </a>
      </li>

      <li class="messages-menu" ng-if="isSignedin() && currentRole() && !inAdminPanel()">
        <a href="/accounts/{{accountSlug()}}/{{currentRole()}}/activities">
          <i class="fa fa-th-list"></i>
          <span class="icon-label">{{currentAccount().activity_count}}</span>
        </a>
      </li>

      <li ng-if="firstName()" class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          {{firstName()}}
          <span ng-if="inAdminPanel()">&mdash; Admin</span>
          <span ng-if="accountName()">&mdash; {{accountName()}}</span>
          <i class="caret"></i>
        </a>

        <ul class="dropdown-menu">
          <li ng-if="isBrokerIncomplete()">
            <a ng-href="/users/new_plan">
              Continue signing up&hellip;
            </a>
          </li>

          <li ng-if="accounts().length > 0">
            <a class="heading" href="">Accounts</a>
          </li>

          <li ng-repeat="account in accounts()">
            <a ng-href="/admin" ng-if="account.role.name == 'admin'">
              Admin
              <span class="label label-default role">Admin</span>
            </a>

            <a ng-href="/accounts/{{account.slug}}/{{account.role.name}}" ng-if="account.role.name != 'admin'">
              {{account.name}}
              <span class="label label-default role">{{account.role.english_name}}</span>
            </a>
          </li>

          <li class="divider" ng-if="accounts().length > 0"></li>

          <li>
            <a href="/users/{{currentUserId()}}">My Profile</a>
          </li>

          <li ng-if="hasBrokerAccount()">
            <a href="/accounts/new">New Broker Account&hellip;</a>
          </li>

          <li>
            <a href="" ng-click="signout()" title="Sign Out">
              Sign Out
            </a>
          </li>
        </ul>
      </li>

      <li ng-if="!isSignedin()">
        <a href="/users/signin">Sign In</a>
      </li>

      <li ng-if="!isSignedin()">
        <a href="/users/new_manager">Sign Up</a>
      </li>
    </ul>
  </nav>
</header>

