<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a href="/" class="logo-link">
      <div class="logo"></div>
    </a>
  </li>

  <li ng-if="inAdminPanel()">
    <a class="heading" ng-href="/admin/carriers">
      <i class="glyphicon glyphicon-user"></i>
      <span class="caption">Carriers</span>
    </a>
  </li>

  <li ng-if="currentRole() === 'broker'">
    <a class="heading" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/account_carriers">
      <i class="glyphicon glyphicon-user"></i>
      <span class="caption">Accounts</span>
    </a>
  </li>

  <li ng-if="currentRole() === 'broker'">
    <a class="heading" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/benefit_plans">
      <i class="glyphicon glyphicon-user"></i>
      <span class="caption">Benefit plans</span>
    </a>
  </li>

  <li ng-if="currentRole() === 'broker' || currentRole() === 'group_admin' || currentRole() === 'customer'">
    <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups">
      <i class="glyphicon glyphicon-user"></i>
      <span class="caption">Groups</span>
    </a>
  </li>

  <li ng-if="currentRole() === 'customer'">
    <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/applications">
      <i class="glyphicon glyphicon-user"></i>
      <span class="caption">Applications</span>
    </a>
  </li>

  <li ng-if="!firstName()">
    <a href="/users/signin">
      <i class="glyphicon glyphicon-user"></i>
      <span class="caption">Sign in</span>
    </a>
  </li>

  <li ng-if="!firstName()">
    <a href="/users/new_manager">
      <i class="glyphicon glyphicon-user"></i>
      <span class="caption">Sign up</span>
    </a>
  </li>
</ul>

