<ul class="sidebar-nav">
  <li class="pull-right">
    <a href="" ng-click="drawerToggle()" class="sidebar-toggle sidebar-toggle-small">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </li>

  <li class="pull-right" ng-if="isSignedin() && currentRole() && !inAdminPanel()">
    <a class="activities-menu activities-menu-small" href="/accounts/{{accountSlug()}}/{{currentRole()}}/activities">
      <i class="forms">Activities</i>
      <span class="icon-label">{{currentAccount().activity_count}}</span>
    </a>
  </li>

  <li class="pull-right" ng-if="isSignedin() && currentRole() && !inAdminPanel()">
    <a class="messages-menu messages-menu-small" href="/accounts/{{accountSlug()}}/{{currentRole()}}/messages">
      <i class="envelope">Messages</i>
      <span class="icon-label">{{currentAccount().message_count}}</span>
    </a>
  </li>

  <li class="sidebar-brand">
    <a href="/" class="logo-link">
      <div class="logo"></div>
    </a>
  </li>

  <li class="sidebar-item" ng-if="accountSlug()">
    <a class="heading" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}">
      {{accountName()}}
    </a>
  </li>

  <li class="sidebar-item" ng-if="inAdminPanel()">
    <a class="heading" ng-href="/admin">
      Admin
    </a>
  </li>

  <li class="sidebar-item" ng-if="!accountSlug() && !inAdminPanel() && accounts().length > 0">
    <a class="heading" ng-href="">
      Accounts
    </a>
  </li>

  <li class="sidebar-item" ng-if="!accountSlug() && !inAdminPanel() && accounts().length > 0" ng-repeat="account in accounts()">
    <a ng-href="/admin" ng-if="account.role.name == 'admin'" title="Admin">
      <i class="fa fa-building-o"></i>
      <span class="caption">
        Admin
        <span class="label label-default role">Admin</span>
      </span>
    </a>

    <a ng-href="/accounts/{{account.slug}}/{{account.role.name}}" ng-if="account.role.name != 'admin'" title="{{account.name}}">
      <i class="fa fa-building-o"></i>
      <span class="caption">
        {{account.name}}
        <span class="label label-default role">{{account.role.english_name}}</span>
      </span>
    </a>
  </li>

  <li class="sidebar-item" ng-if="inAdminPanel()">
    <a ng-href="/admin/carriers" title="Carriers">
      <i class="fa fa-institution"></i>
      <span class="caption">Carriers</span>
    </a>

    <a ng-href="/admin/invitations" title="Invitations">
      <i class="fa fa-gift"></i>
      <span class="caption">Invitations</span>
    </a>
  </li>

  <li class="sidebar-item" ng-if="currentRole() === 'broker'">
    <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/carrier_accounts" title="Carrier Accounts">
      <i class="fa fa-institution"></i>
      <span class="caption">Carrier Accounts</span>
    </a>
  </li>

  <li class="sidebar-item" ng-if="isGroupAdmin()">
    <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/benefit_plans" title="Benefit Plans">
      <i class="fa fa-heart"></i>
      <span class="caption">Benefit Plans</span>
    </a>
  </li>

  <li class="sidebar-item" ng-if="currentRole() === 'broker' || currentRole() === 'group_admin' || currentRole() === 'customer'">
    <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups" title="Groups">
      <i class="fa fa-group"></i>
      <span class="caption">Groups</span>
    </a>
  </li>

  <!-- Admin Accounts -->
  <li class="sidebar-item" ng-if="inAdminPanel()">
    <a ng-href="/admin/accounts" title="Accounts">
      <i class="fa fa-cubes"></i>
      <span class="caption">All Accounts</span>
    </a>
  </li>

  <!-- Admin All Groups -->
  <li class="sidebar-item" ng-if="inAdminPanel()">
    <a ng-href="/admin/groups" title="Groups">
      <i class="fa fa-group"></i>
      <span class="caption">All Groups</span>
    </a>
  </li>

  <!-- Admin Features -->
  <li class="sidebar-item" ng-if="inAdminPanel()">
    <a ng-href="/admin/features" title="Features">
      <i class="fa fa-trophy"></i>
      <span class="caption">Features</span>
    </a>
  </li>

  <li class="sidebar-item" ng-if="currentRole() === 'customer'">
    <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/applications" title="Applications">
      <i class="fa fa-file-text"></i>
      <span class="caption">Applications</span>
    </a>
  </li>

  <li class="sidebar-item" ng-if="!firstName()">
    <a href="/users/signin" title="Sign In">
      <i class="glyphicon glyphicon-user"></i>
      <span class="caption">Sign In</span>
    </a>
  </li>

  <li class="sidebar-item" ng-if="!firstName()">
    <a href="/users/new_manager" title="Sign Up">
      <i class="glyphicon glyphicon-user"></i>
      <span class="caption">Sign Up</span>
    </a>
  </li>
</ul>

